:root {
  --primery-text-color: #757575;
  --primery-white-color: #ffffff;
  --titul-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--primery-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}
/* ----------Header---------- */

/* --logo-- */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.header-logo {
  color: var(--titul-text-color);
}
.header-list {
  color: var(--titul-text-color);
}
.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus,
.current {
  color: var(--accent-color);
}

/* ---------------main---------- */
/* ------------hero----------- */
.hero {
  background-color: var(--titul-text-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-white-color);
}

.hero-btn {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
}
/* ---------section----------- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.feature-list .title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--titul-text-color);
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--titul-text-color);
}
.team {
  background-color: var(--secondary-background-color);
}

.team-name {
  font-weight: 500;
  color: var(--titul-text-color);
}
.team-profession,
.team-name {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* ------------------footer---------------- */
.footer {
  background-color: var(--dark-background-color);
}
.footer-logo {
  color: var(--primery-white-color);
}
.footer-address-link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-address-link[target="_blank"] {
  color: var(--primery-white-color);
}
.footer-address {
  font-style: inherit;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--primery-white-color);
}
/* -----Portfolio---------- */
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--titul-text-color);
  background-color: #f5f4fa;
}
.filter-btn.current {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titul-text-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primery-text-color);
}
